.PosTagger-component {
    // put you styles here
    position: relative;
    width: auto;
    margin: 0 auto;
    border-style: solid;
    border-color: #ADFFD6;
    padding: 20px;
    height: 350px;
    width: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.PosTagger-component-container {
    visibility: hidden;
}
