.PosTagger-component {
    // put you styles here
    position: relative;
    width: auto;
    padding: 20px;
    height: 500px;
    width: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.PosTagger-component-container {
    visibility: hidden;
}
