.CollapsablePanel-component {
}

.CollapsablePanel-component-header:hover {
    background-color: #40869B ;
}

.CollapsablePanel-component-header {
    background-color: #5bc0de ;
    color: #FFF;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.CollapsablePanel-component-header-special:hover {
    background-color: #385166;
}

.CollapsablePanel-component-header-special {
    background-color: #337ab7;
    color: #FFF;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.CollapsablePanel-component-collapsed {
    visibility: hidden;
    position: absolute;
}
